<h2>Sign up - NicKu</h2>

<%= form_for @member, url: members_register_path, method: "post" do |f| %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
	<%= f.text_field :email %>  </div>
 
  <div class="field">
    <%= f.label :password %><br>
	<%= f.text_field :password %>  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
	<%= f.text_field :password_confirmation %>  </div>

  <div class="actions">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>

<br />
<%= link_to "Sign in" , new_member_session_path %>