<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<!-- <p>
  <strong>activity:</strong>
  <%= @user.activity_list %>
</p> -->
<%= render 'post' %>
<br>
<%= link_to 'Back', root_path %>
